<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% set active = '' %}
        {% for step in steps %}
            {% set active = (step.isActive() and active == '') ? step.getTitle() : active %}
            <a class="nav-link {{ (active == step.getTitle() and step.isActive()) ? 'active': '' }}" id="nav-home-tab" data-toggle="tab" href="#{{ step.getCode() }}" role="tab" aria-controls="nav-home" aria-selected="true">
            {{ step.getTitle() }}
            <span class="fa {{ step.status ? 'fa-check-circle' : '' }}"></span> 
         </a>
        {% endfor %}
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    {% set active = '' %}
    {% for step in steps %}
        {% set active = (step.isActive() and active == '') ? step.getTitle() : active %}
        <div class="tab-pane fade show {{ (active == step.getTitle() and step.isActive()) ? 'active': '' }}" id="{{ step.getCode() }}" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ step.getDescription()|raw }}
            <hr/>
            {% if step.getLink %}
                <a href="{{ step.getLink }}" class="btn btn-outline-primary btn-sm">
                    <span class="fa fa-desktop"></span> {{ 'show'|trans }}
                </a>
            {% endif %}
            {% if step.getNext() %}
                <button href="javascript:;" class="btn btn-outline-primary btn-sm" reff-id="{{ step.getNext().getCode() }}" onclick="openNext(this)">
                    <span class="fa fa-align-right"></span> {{ 'next'|trans }}
                </button>
            {% endif %}
        </div>
    {% endfor %}
</div>
<script>
    function openNext(d) {
        let dom = $(d);
        $('#nav-tab a[href="#'+ dom.attr('reff-id') +'"]').tab('show');
    }
</script>